<h1>Edit Product</h1>
<section>
    <form action="/edit/{{id}}" onsubmit="checkValue()" method="POST">
        <div>
            <label for="priority">Priority</label>
            <input type="text" id="priority" value="{{priority}}" name="priority" />
            <label for="name">Name</label>
            <input type="text" id="name" value="{{name}}" name="name" />
            <label for="quantity">Quantity</label>
            <input type="text" id="quantity" value="{{quantity}}" name="quantity" />
            <label for="status">Status</label>
            <input type="checkbox" id="status" name="status" value="{{status}}" onclick="switchValue()">
            <label for="status" id="status-label"></label>
            <button type="submit" class="accept">Edit</button>
            <button type="button" class="cancel" onclick="location.href='/'">Cancel</button>
        </div>
    </form>
</section>

<script>
    function switchValue() {
        document.getElementById("status").value =
                document.getElementById("status").value === "bought" ? "not bought" : "bought";
    }

    function checkValue() {
        document.getElementById("status").checked = true;
    }

    (function checkBox() {
        let checkbox = document.getElementById("status");
        checkbox.checked = checkbox.value !== "not bought";
    })();
</script>